  <div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p class="navbar-text"><%= @merchant.name %></p>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', merchant_dashboard_index_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Items', merchant_items_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Invoices', merchant_invoices_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Bulk Discounts', merchant_bulk_discounts_path %>
    </ul>
  </nav>
</div>

<body>
  
  <div class="row">
    <p class='mr-auto col-sm-5'><%= @discount.name %></p>
    <br>Discount: <%= @discount.pct_discount %>%
    <br>Quantity Threshold: <%= @discount.qty_threshold %>
    <p><%= link_to "Edit Discount", "/merchant/#{@merchant.id}/bulk_discounts/#{@discount.id}/edit" %></p>
  </div>

</body>